<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.exception.mapper.ExceptionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.exception.dto.Exception_dev">
        <result column="ID" property="id" jdbcType="DECIMAL" />
        <result column="PROC_ID" property="procId" jdbcType="VARCHAR" />
        <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
        <result column="DUEDATE" property="duedate" jdbcType="DATE" />
    </resultMap>


</mapper>